<main
  [style.background-image]="'url(' + homeStore.userInfo().homeSettings.backgroundImageUrl + ')'"
>
  <div class="home-content">
    <div class="header-actions">
      @if (authStore.isConnected() && homeStore.userInfo().user_account !== null) {
        <img src="{{ homeStore.userInfo().user_account?.photo }}" alt="" />
        <button class="btn btn--secondary" (click)="openProfileModal()">Mon profil</button>
      } @else {
        <button class="btn btn--secondary" (click)="openAuthModal('login')">Se connecter</button>
      }
    </div>
  </div>

  <app-auth-modal
    [isOpen]="isAuthModalOpen"
    [initialTab]="authModalTab"
    (closeModal)="closeAuthModal()"
  />
</main>
