@use '../../../../assets/styles/mixins' as *;

form {
  @include Flex(center, center, column);
  gap: 1em;

  app-text-input,
  .btn {
    width: 100%;
  }

  .links {
    text-align: center;

    .link {
      background: none;
      border: none;
      color: #3b82f6;
      font-size: 0.875rem;
      font-weight: 500;
      cursor: pointer;
      padding: 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
