<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <app-text-input
    label="Email"
    type="email"
    id="login-email"
    name="email"
    formControlName="email"
    [required]="true"
    placeholder="votre@email.com"
  >
  </app-text-input>

  <app-text-input
    label="Mot de passe"
    type="password"
    id="login-password"
    name="password"
    formControlName="password"
    [required]="true"
    placeholder="Votre mot de passe"
  >
  </app-text-input>

  <button type="submit" class="btn btn--primary" [disabled]="loginForm.invalid">
    Se connecter
  </button>

  <section class="links">
    <button type="button" class="link" (click)="onForgotPassword()">Mot de passe oublié ?</button>
  </section>
</form>
