<app-base-modal [isOpen]="isOpen" title="Connexion" (closeModal)="onClose()">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <app-text-input label="Email" type="email" id="email" name="email" formControlName="email" [required]="true" placeholder="votre@email.com">
    </app-text-input>

    <app-text-input
      label="Mot de passe"
      type="password"
      id="password"
      name="password"
      formControlName="password"
      [required]="true"
      placeholder="Votre mot de passe"
    >
    </app-text-input>

    <button type="submit" class="btn btn--primary" [disabled]="loginForm.invalid">Se connecter</button>

    <div class="login-form__links">
      <a href="#" class="login-form__link">Mot de passe oublié ?</a>
    </div>
  </form>
</app-base-modal>
